a {
  text-decoration: none;
  color: inherit;
}
.pap:hover{
    animation: crescendo .2s alternate forwards ease-in;
    z-index: 200;
}
.gotoButtons {
    transition: all .2s ease-in-out;
}

.gotoButtons:hover {
    /* transform: scale(1.3); */
    animation: crescendo .2s alternate forwards ease-in;
}

.sigCanvas {
    border: 1px teal dashed;
}


@keyframes crescendo {
    0%   {transform: scale(1);}
    100% {transform: scale(1.2);}
  }


